.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

.main {
    text-align: center;
    padding: 20px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
}

table, th, td {
  border: 1px solid;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.invalid {
    border-width: 3px;
    border-color: #ff4f4f;
}

@media screen and (max-width: 600px) {

    body {
	background: rgba(200,200,200,0.1);
    }

    .main {
	margin: auto;
    }
}

@media screen and (min-width: 600px) {
    .main {
	background: rgba(200,200,200,0.1);
	width: 400px;
	margin: auto;
	border-radius: 10px;
    }
}
